In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basic1').getOrCreate()

22/04/01 14:34:58 WARN Utils: Your hostname, pop-os resolves to a loopback address: 127.0.1.1; using 192.168.0.195 instead (on interface wlp0s20f3)
22/04/01 14:34:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/narco/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/01 14:34:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/04/01 14:34:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [12]:
df = spark.read.csv('data1.csv',header=True,inferSchema=True)

In [13]:
df

DataFrame[name: string, age: int, exp: int]

In [14]:
df.show()

+-------+---+---+
|   name|age|exp|
+-------+---+---+
|krishna| 25|  2|
|   ramu| 21|  1|
|   guru| 20|  0|
+-------+---+---+

In [15]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- exp: integer (nullable = true)

In [16]:
df.columns

['name', 'age', 'exp']

In [17]:
df.show(1)

+-------+---+---+
|   name|age|exp|
+-------+---+---+
|krishna| 25|  2|
+-------+---+---+
only showing top 1 row

In [20]:
df.select(['name','age']).show()

+-------+---+
|   name|age|
+-------+---+
|krishna| 25|
|   ramu| 21|
|   guru| 20|
+-------+---+

In [22]:
df.dtypes

[('name', 'string'), ('age', 'int'), ('exp', 'int')]

In [24]:
df.describe().show()

+-------+----+------------------+---+
|summary|name|               age|exp|
+-------+----+------------------+---+
|  count|   3|                 3|  3|
|   mean|null|              22.0|1.0|
| stddev|null|2.6457513110645907|1.0|
|    min|guru|                20|  0|
|    max|ramu|                25|  2|
+-------+----+------------------+---+

In [27]:
df.withColumn('age +2',df['exp']+2).show()

+-------+---+---+------+
|   name|age|exp|age +2|
+-------+---+---+------+
|krishna| 25|  2|     4|
|   ramu| 21|  1|     3|
|   guru| 20|  0|     2|
+-------+---+---+------+

In [26]:
df.show()

+-------+---+---+
|   name|age|exp|
+-------+---+---+
|krishna| 25|  2|
|   ramu| 21|  1|
|   guru| 20|  0|
+-------+---+---+

In [30]:
df.drop('exp').show()

+-------+---+
|   name|age|
+-------+---+
|krishna| 25|
|   ramu| 21|
|   guru| 20|
+-------+---+

In [29]:
df.show()

+-------+---+---+
|   name|age|exp|
+-------+---+---+
|krishna| 25|  2|
|   ramu| 21|  1|
|   guru| 20|  0|
+-------+---+---+

In [38]:
df.withColumnRenamed('name','Name').show()

+-------+---+---+
|   Name|age|exp|
+-------+---+---+
|krishna| 25|  2|
|   ramu| 21|  1|
|   guru| 20|  0|
+-------+---+---+

In [32]:
df.show()

+-------+---+---+
|   name|age|exp|
+-------+---+---+
|krishna| 25|  2|
|   ramu| 21|  1|
|   guru| 20|  0|
+-------+---+---+

In [39]:
df1 = spark.read.csv('data2.csv',header=True,inferSchema=True)
df1.show()

+------+----+
|  Name| Age|
+------+----+
|  null|  21|
|   ram|  22|
|  shum|null|
|mahesh|null|
|mondal|null|
|  null|null|
+------+----+

In [40]:
df1.na.drop().show()

+----+---+
|Name|Age|
+----+---+
| ram| 22|
+----+---+

In [41]:
df1.na.drop(how='all').show()

+------+----+
|  Name| Age|
+------+----+
|  null|  21|
|   ram|  22|
|  shum|null|
|mahesh|null|
|mondal|null|
+------+----+

In [42]:
df1.na.drop(how='any').show()

+----+---+
|Name|Age|
+----+---+
| ram| 22|
+----+---+

In [46]:
df1.na.drop(how='any',thresh=1).show()

+------+----+
|  Name| Age|
+------+----+
|  null|  21|
|   ram|  22|
|  shum|null|
|mahesh|null|
|mondal|null|
+------+----+

In [47]:
df1.na.drop(how='any',subset=['Age']).show()

+----+---+
|Name|Age|
+----+---+
|null| 21|
| ram| 22|
+----+---+

In [60]:
df1.na.fill('hoge',['Name','Age']).show()

+------+----+
|  Name| Age|
+------+----+
|  hoge|  21|
|   ram|  22|
|  shum|null|
|mahesh|null|
|mondal|null|
|  hoge|null|
+------+----+

In [62]:
df1.show()

+------+----+
|  Name| Age|
+------+----+
|  null|  21|
|   ram|  22|
|  shum|null|
|mahesh|null|
|mondal|null|
|  null|null|
+------+----+

In [63]:
from pyspark.ml.feature import Imputer

In [73]:
imputer = Imputer(
inputCols=['Age'],
outputCols=['{}_imputed'.format(c) for c in ['age'] ]).setStrategy("median")

In [74]:
imputer.fit(df1).transform(df1).show()

+------+----+-----------+
|  Name| Age|age_imputed|
+------+----+-----------+
|  null|  21|         21|
|   ram|  22|         22|
|  shum|null|         21|
|mahesh|null|         21|
|mondal|null|         21|
|  null|null|         21|
+------+----+-----------+